 /* Style the navbar */
 * {
  box-sizing: border-box;
}   

/* Set the padding for anchor links to not be covered by the fixed header and a max width for the page so the header isn't streached too much */
html {
  max-width: 1280px;
  margin: auto;
  scroll-padding-top: 150px; /* height of sticky header plus the navbar */
  padding-bottom: 40px; /* Height of the sticky footer */
}

.column{
  float: left;
  width: 50%;
  padding: 10px;
  border-style: groove;
  display: table-cell;
}

.footercolumn a:link {
  text-decoration: none;
  color: #f2f2f2;
}

.footercolumn a:visited {
  text-decoration: none;
  color: #f2f2f2;
}

.footercolumn{
  
  vertical-align: middle;
  
  width: 33%;
  padding: 0px;
  padding-right: 15px;
  float: left;
  border-style: none;
  display: table-cell;
  
}
.footercolumn p{
  color: #f2f2f2;
  align-items: center;
}

.footercolumn  img{
  vertical-align: middle;
  text-align : center;
  width: 50px;
  height: 50px;
}

.menurow:after{
  content: "";
  display: table;
  clear: both;
   
}

.menucolumn{
  
  vertical-align: middle;
  
  width: 66%;
  padding: 0px;
  padding-right: 0px;
  float: left;
  border-style: none;
  display: table-cell;
}

.menuimgcolumn{
  
  vertical-align: middle;
  
  width: 33%;
  padding: 0px;
  padding-right: 0px;
  float: right;
  align-content: center;
  border-style: none;
  display: table-cell;
}

.gal-row{
  display: table;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

#footer{
  left:0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  margin-top: 0px;
  bottom: 0;
  z-index: 99;
  position: fixed;
  
  width: 100%;  
  overflow: hidden !important;
  overflow-y: hidden !important;
  background-color: #333;
  color: #f2f2f2;
}

 .navbar {
  position: sticky; 
 /* display: flex;  */
  flex-direction: row;
  z-index: 99;
  position: -webkit-sticky; /* Safari */
  top: 0;
  width: 100%;  
  overflow: hidden;
    overflow-y: hidden !important;
    background-color: #333;
  }
  
  #headerimg {
    width: 25% ;
    height: 75px

  }
  /* Navbar links */

  #mainimg {
    width: 100%;
    height: auto
  }

  #menuimg {
    width:auto;
    height: 150;
    float: right
  }

  #navbar a {
    font-size: 18px;
    float: right;
    display: block;
    block-size: auto;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none
  }
  #navbar a:hover {
    background-color: rgb(43, 177, 182);
  }

  #navbar a.active{
    background-color: rgb(43, 177, 182);
  }
  /* Page content */
  .content {
    padding: 5px;
  }
  
   /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 14px;
  } 

  #youtubebox {
    display:flex;
    justify-content: center;
    align-items: center;
   /* margin-top: 15%; */
  }


/* *******************************FONTS AND APPEARANCE THINGS*********************************** */

/* Using free, linked google fonts for the H1 and H2 text*/

.tab{
  tab-size: 10;
}

h1 {
  text-align: center;  
  font-family: "Great Vibes",cursive,sans-serif;
  color: rgb(36, 58, 129);
  font-size: 48px;
}

h2 {
font-family: "Aladin",cursive,sans-serif;
color: rgb(36, 58, 129);
font-size: 35px;
}

h3 {
  font-family: "Aladin",cursive,sans-serif;
  color: rgb(36, 58, 129);
  font-size: 24px;
  }


p {

  font-family: "Arial",sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;  
}
/* alt text */
img {
  border: 0;
}

/* style and color */
a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.text-center{
  text-align: center;
}

button {
  background-color: #0077cc;
  width: 169px;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: #0055aa;
}

/* ARIA */
[role="button"] {
  cursor: pointer;
}

[aria-disabled="true"] {
  opacity: 0.5;
  cursor: not-allowed;
}

  /* ********************PHOTO/MEDIA GALLERY ***************************** */

  /* Position the image container (needed to position the left and right arrows) */
.gallerycontainer {
  margin: auto;
  max-height: auto;
  max-width: 50%;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: auto;
  height: auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}


/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}


/* Six columns side by side for gallery thumbnails*/
.thumbcolumn {
  float:left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/* ****************RESPONSIVE CSS************************* */

/* Media query for smaller devices */
@media screen and (max-width: 600px) {

  /* Adjust container max-width and padding */
  .container {
    max-width: 100%;
    padding: 0.5em;
  }

  /* Style for header on smaller devices */
  header {
    font-size: 1.5em;
  }

  /* Style for navigation menu on smaller devices */
  #navbar {
    display: flex;
    flex-direction: column;
  
  } 

    nav ul li {
    margin: 0;
    margin-bottom: 0.5em;
  }

  #headerimg {
    width: 100% ;
    height: 100px

  }

.menucolumn{
  width: 100%;
  float: left;
}

.menuimgcolumn{
  width: auto;
  float: left;
}



}

